<!doctype html>
<html lang="en">
<head>
	<title>Sign Up • Library Management System</title>
	<%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
	<%- include('./partials/navbar.ejs', { user: user }) %>
	<main class="container py-5 mt-5">
		<section class="auth-card">
			<h1>Create account</h1>
			<form action="/signup" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required>
				</section>
				<section>
					<label for="firstname">First name</label>
					<input id="firstname" name="firstname" type="text" autocomplete="given-name" required>
				</section>
				<section>
					<label for="lastname">Last name</label>
					<input id="lastname" name="lastname" type="text" autocomplete="family-name" required>
				</section>
				<section>
					<label for="new-password">Password</label>
					<input id="new-password" name="password" type="password" autocomplete="new-password" required>
				</section>
				<button class="auth-btn" type="submit">Sign up</button>
			</form>
			<hr>
			<p class="help">Already have an account? <a href="/login">Sign in</a></p>
		</section>
	</main>
</body>
</html>
